#Blog{
    background-color: "#f8f5f2";
}
.blog-post .card-title:hover{
    color:#24bca4;
    cursor: pointer;
    }
    .blog-post .card-link{
    
        color:#24bca4;
        text-decoration: none;
    }
    .blog-post .card:hover .card-link{
        color: #444;
       
    }
    .blog-post .blog-type{
        position: absolute;
        display: block;
        left: 20px;
        top: 20px;
        margin: 0;
        color: #fff;
        padding: 6px 8px;
        font-size: 11px;
        line-height: 11px;
        font-weight: 600;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .blog-post .card:hover .blog-type{
        background-color:#24bca4;
        color: #fff;
    
    }
    .blog-post .card {
        position: relative;
        background-color: #fff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .blog-post .card .card-img-top {
        position: relative;
        background-color: #fff;
        border-radius: 3px;
        overflow: hidden;
    }
    .blog-post .card:hover .card-img-top .card-img {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }
    .blog-post .card .card-img-top .card-img {
        width: 100%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .blog-post .overlay{
        
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            border-radius: 3px;
            text-align: center;
            opacity: 0;
            transform: translateY(10px);
            background-color: #444;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        
    }
    .blog-post .card:hover .overlay{
        opacity: .25;
        transform: translateY(0);
    }
    .blog-post .card{
        background-color: #f8f5f2;
    }
