.parallex1 {
    background-image: url(../img/parallex2.jpg);


    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviewList .accordion-header :hover {
    background-color: #24bca4;
    color: #fff;
}

.reviewList .accordion {
    background-color: rgb(190, 186, 186);
    border: rgb(190, 186, 186);
    color: #000;
}

.reviewList .accordion-item {
    background-color: #24bca4;
    color: #000;
}

.reviewList .accordion-header {
    background-color: rgb(190, 186, 186);
    border: rgb(190, 186, 186);
    color: #000;
}

.faq {
    background-color:#d9d9e3;
}

.reviewList .accordion-body {
    background-color: rgb(190, 186, 186);
}
.reviewList .accordion-button{
    background-color: darkgray;
}
.reviewList .accordion-button:not(.collapsed) {
    color:#000;
}